/* Add a black background color to the top navigation */
.TopNav {
    position: relative;
    background-color: #444;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.TopNav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.TopNav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.TopNav a.active {
  background-color: #555;
  color: white;
}

.Section {
    position: relative;
    margin: auto;
    top: 50px;
    height: 400px;
    width: 80%;
    background-color: #444;
    overflow: hidden;
}

.Section header {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;

}

.Section img {
  padding: 14px 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Section p {
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}

.SocialNav {
    position: relative;
    background-color: #444;
    overflow: hidden;
}

/* Style the links inside the social navigation bar */
.SocialNav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding:14px;
  text-decoration: none;
  font-size: 17px;
}

.SocialNav a:hover {
  background-color: #ddd;
  color: black;

}

.CardSection {
    position: relative;
    margin: auto;
    background-color: #ffffff;
    overflow: hidden;
    padding: 28px 13px;
    float: left;
}

.WorkSection {
    position: relative;
    margin: auto;
    top: 50px;
    height: 200px;
    width: 100%;
    background-color: #444;
    overflow: hidden;
}

.WorkSection header {
  color: #f2f2f2;
  text-align: center;
  width: 100%;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 16px;

}

.WorkSection img {
  padding: 0px 16px;
  display: block;
  float: right;
}

.WorkSection p {
  color: #f2f2f2;
  width: 50%;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  float: left;
}

.Margin {
    position: relative;
    margin: auto;
    top: 50px;
    height: 14px;
    width: 100%;
    background-color: #444;
    overflow: hidden;
}

footer  {
  position: relative;
  background-color: #444;
  overflow: hidden;
  top: 85px
}
